<!DOCTYPE html>
<html lang="es">
<head>
    <title>Modificar</title>
    <%- include('./templates/head.ejs') %>
</head>
<body>
    <%- include('./templates/header-nav.ejs') %>
    <main class="centrado sombras">
        <% if(usuario){ %>
        <div>
            <h2 class="titulo">Contacto eliminado</h2>
		</div>
        <% } %>
    </main>
    <%- include('./templates/footer.ejs') %>
</body>
</html>