<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <%- include('./templates/head.ejs') %>
</head>
<body>
    <%- include('./templates/header-nav.ejs') %>
    <main class="centrado sombras">
        <div>
            <form action="/auth" method="post">
                <fieldset>
                    <legend class="centrado">Registrar</legend>
                    <div>
                        <div>
                            <input type="text" name="usuario" id="usuario">
                        </div>
                        <div>
                            <input type="password" name="password" id="password">
                        </div>
                    </div>
                    <input type="submit" value="Crear usuario">
                </fieldset>
            </form>
        </div>
    </main>
    <%- include('./templates/footer.ejs') %>
</body>
</html>