<header>
    <h1 class="titulo">Cocina en casa <span>recetas y algo mas</span> </h1>
</header>

<nav class="nav-bg">
    <div class="navegacion-principal centrado" >
        <a href="/" target="_self">Inicio</a>
        <a href="/consultas" target="_self">Consultas</a>
    </div>
</nav>